.input-add {
  padding: 1.375rem;
  background-color: #46273052;
  border-radius: .3rem;
  font-weight: 600;
  width: 37rem;
  height: 2.4rem;
  color: #feede1be;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
}
.input-add::placeholder {
  color: #feede1be;
}
